*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #5D6098;
}

.btn{
    margin:20px;
    width: 120px;
    height:80px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Poppins;
    background-color: #252d569f;
    color:White;
    border-color: #252d5677;
    border-radius: 5px;
    box-shadow:2px 2px 5px 0px rgb(3, 3, 3);
    cursor: pointer;
    outline:none;
    text-shadow: 1px 1px black;
}

.btn:hover{
    background-color: #11193dc1;
}

